#container
{
	width: 800px;
	position: absolute;
	top: 80px;
	left: 50%;
	overflow: hidden;
	padding: 0 0 10px 0;
	margin: 0 0 0 -450px;
}

.teammember
{
	background: rgba(200, 200, 200, 0.1);
	width: 120px;
	float: left;
	overflow: hidden;
	padding: 25px;
	border-radius: 5px;
	margin: 10px 20px 0 0;
	text-align: center;
	box-shadow: 0 0 10px #ccc;
}
.teammember img
{
	width: 100px;
	height: 100px;
}
.name
{
	margin: 10px 0 0 0;
	font-size: 0.9em;
	font-weight: bold;
}
.title
{
	color: #666;
	margin: 5px 0 0 0;
	font-size: 0.75em
}
