html,body
{
	width: 100%;
	height: 100%;
	margin: 0;
}
body
{
	color: #333;
	background: url('../img/bg/xv.png');
	font-family: Helvetica, sans-serif;
}

h1
{
	color: #f44;
	margin: 0;
}
h2
{
	color: #333;
	margin: 0;
}

a
{
	color: inherit;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}

/* Status messages */
#status
{
	background: rgba(0, 0, 0, 0.05);
	width: 100%;
	min-width: 800px;
	position: absolute;
	padding: 10px 0;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	box-shadow: inset 0 -3px 5px #ccc;
}
#status_close
{
	background: url('../img/icons/cross.png') no-repeat center;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 4px;
	right: 10px;
	cursor: pointer;
}

/* Content elements */
#header
{
	background: url('../img/bg/zigzag.png');
	width: 100%;
	height: 40px;
	box-shadow: 0 0 10px #000;
}
#header_container
{
	width: 900px;
	height: 100%;
	margin: 0 auto;
}
#header_logo
{
	background: url('../img/logos/throwadollar_header.png') no-repeat;
	background-position: 0 7px;
	width: 400px;
	height: 100%;
}

#content
{
	background: rgba(200, 200, 200, 0.1);
	width: 800px;
	position: absolute;
	top: 25%;
	left: 50%;
	overflow: hidden;
	padding: 40px 50px;
	margin: 0 0 0 -450px;
	border-radius: 5px;
	box-shadow: 0 0 10px #ccc;
}

/* Text section */
#text
{
	width: 450px;
	float: left;
}
#tagline
{
	margin: -16px 0 0 0;
	padding: 0;
	font-weight: bold;
	font-style: normal;
}

/* Donation section */
#donation
{
	float: right;
	margin: 10px 0 0 0;
}
#donate
{
	color: #fff;
	background: #f66;
	background: -webkit-linear-gradient(top, #f66, #d44);
	background: -moz-linear-gradient(top, #f66, #d44);
	background: -ms-linear-gradient(top, #f66, #d44);
	background: -o-linear-gradient(top, #f66, #d44);
	padding: 15px 40px;
	border: solid 1px #ddd;
	border-radius: 5px;
	font-size: 1.4em;
	box-shadow: 0 0 0 1px #f88;
}
#donate:hover
{
	background: #c44;
	background: -webkit-linear-gradient(top, #e55, #c33);
	background: -moz-linear-gradient(top, #e55, #c33);
	background: -ms-linear-gradient(top, #e55, #c33);
	background: -o-linear-gradient(top, #e55, #c33);
	box-shadow: 0 0 0 1px #e55;
	cursor: pointer;
}

#pay
{
	color: #666;
	display: none;
	margin: 18px 0 0 0;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.5em;
}
#pay p
{
	height: 12px;
}

#stats
{
	color: #666;
	margin: 10px 0 0 0;
}
#amount
{
	margin: 2px;
	font-size: 0.9em;
	font-weight: bold;
}
#session
{
	margin: 2px;
	font-size: 0.75em;
}

/* Footer */
#footer
{
	color: #888;
	width: 800px;
	height: 25px;
	position: absolute;
	bottom: 0;
	left: 50%;
	padding: 0 50px;
	margin: 0 0 0 -400px;
	font-size: 0.7em;
	font-weight: bold;
	text-align: right;
}
#footer:hover
{
	color: #666;
	cursor: default;
}
