body
{
	background: url('../img/bg/xv.png');
	font-size: 14px;
	font-family: Helvetica, sans-serif;
}

#header
{
	color: #f44;
	margin: 50px 0 0 0;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#nummer
{
	color: #333;
	margin: 0 0 6px 0;
	font-size: 16px;
	font-weight: bold;
}
#kosten
{
	font: 11px/12px verdana, helvetica, arial;
}
#code
{
	font: 18px/20px verdana, helvetica, arial;
	font-weight: bold;
	color: red;
}
#knop
{
	margin: 20px 0 0 0;
}
input[type="submit"]
{
	color: #fff;
	background: #f66;
	background: -webkit-linear-gradient(top, #f66, #d44);
	background: -moz-linear-gradient(top, #f66, #d44);
	background: -ms-linear-gradient(top, #f66, #d44);
	background: -o-linear-gradient(top, #f66, #d44);
	padding: 10px 30px;
	border: solid 1px #ddd;
	border-radius: 5px;
	font-size: 1.1em;
	box-shadow: 0 0 0 1px #f88;
}
input[type="submit"]:hover
{
	background: #c44;
	background: -webkit-linear-gradient(top, #e55, #c33);
	background: -moz-linear-gradient(top, #e55, #c33);
	background: -ms-linear-gradient(top, #e55, #c33);
	background: -o-linear-gradient(top, #e55, #c33);
	box-shadow: 0 0 0 1px #e55;
	cursor: pointer;
}

#scherm
{
	width: 300px;
	padding: 8px;
	margin: 40px auto 0 auto;
	text-align: left;
}

.landimg {
	/* */
}
form {
	margin: 0;
	padding: 0;
}
